body {
  background: linear-gradient(
    160deg,
    rgba(113, 87, 190, 1) 30%,
    rgba(45, 190, 241, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
.App {
  width: 100vw;
  height: 100vh;
  padding-top: 0;
  margin-top: 0;
  overflow: hidden;
  transition: background 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
h1 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  top: 200px;
}
h2 {
  font-family: "Catamaran", sans-serif;
}
p,
button,
input[type="submit"],
input[type="text"],
.nav li {
  font-family: "Nerko One", cursive;
  color: #000000;
}
.bookshelfContainer {
  position: relative;
}
.glassContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 500px;
  height: 500px;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 20px;
  overflow: hidden;
}
.glassMorphism:nth-child(1) {
  background-image: url("../images/cool-background.png");
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.432);
}

.glassMorphism:nth-child(2) {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.glassContainer .content {
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.pendingBookList,
.booksReadList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pendingBookList h2,
.booksReadList h2 {
  align-self: center;
}
.pendingBookList p,
.booksReadList p {
  text-align: center;
  font-size: 21px;
}
.bookform {
  align-self: flex-start;
}

#check {
  appearance: none;
}
.checkToggle {
  margin: auto;
  height: 30px;
  width: 60px;
  border-radius: 50px;
  display: flex;
  background-color: #333333;
  position: relative;
}
.fa-sun {
  position: absolute;
  top: 6px;
  right: 9px;
}
.fa-moon {
  position: absolute;
  top: 6px;
  left: 9px;
}
.ball {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 3px;
  transition: transform 0.3s linear;
}
.ball:hover {
  cursor: pointer;
}
input[type="checkbox"]:not(:checked) ~ label .ball {
  transform: translateX(29px);
}
/* align form elements */
.bookStatus {
  -moz-appearance: none;
  background-color: transparent;
  border: none;
}
.bookStatus:hover {
  cursor: pointer;
}
.fa-check-circle {
  transition: color 0.25s ease-in-out;
}
.fa-check-circle:hover {
  color: #15ad15;
}
form input[type="text"] {
  height: 30px;
  border-radius: 5px;
  box-shadow: none;
  border: 2px solid rgb(46, 118, 226);
  outline: none;
  font-size: 18px;
  width: 135px;
  display: block;
  margin-bottom: 10px;
  margin-left: 9px;
}
form input[type="text"]:focus {
  border-color: rgb(41, 212, 41);
}
.toggleTheme {
  height: 35px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid rgb(49, 49, 49);
  font-size: 18px;
}

input[type="submit"] {
  height: 35px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid rgb(0, 34, 128);
  background-color: rgb(0, 162, 255);
  margin-left: 9px;
  font-size: 18px;
}
input[type="submit"]:hover {
  cursor: pointer;
}
.nav {
  text-align: center;
  padding-left: 0;
  margin-top: 30px;
}
.nav li {
  display: inline;
  list-style-type: none;
  margin: 0 10px;
  font-size: 22px;
  position: relative;
  margin-right: 15px;
}
span.bookLength {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  top: -5px;
  right: -20px;
  font-size: 16px;
  color: rgb(253, 37, 37);
}
.nav li a {
  text-decoration: none;
  color: #084b66a9;
}
.nav li a.active {
  color: #084b66;
}
.simplebar-scrollbar:before {
  background: linear-gradient(to bottom right, #33ccff 0%, #cc66ff 100%);
}
.simplebar-track {
  background: #e0e0e0a6;
  border-radius: 20px;
  margin-right: 3px;
}
@media only screen and (max-width: 600px) {
  .glassContainer {
    width: 95vw;
    height: 90vh;
    position: static;
    transform: none;
  }
  .glassMorphism:nth-child(1) {
    background-size: cover;
    height: 92%;
  }
  .glassContainer .content {
    height: 90vh;
  }
  .pendingBookList,
  .booksReadList {
    height: 90%;
  }
  .bookForm {
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .toggleSwitch {
    padding-bottom: 20px;
  }
  form input[type="text"] {
    width: 300px;
  }
  input[type="submit"] {
    width: 305px;
  }
}
@media only screen and (max-width: 360px) {
  form input[type="text"] {
    width: 260px;
  }
  input[type="submit"] {
    width: 265px;
  }
}
